In [1]:
import pandas as pd
import numpy as np

In [2]:
df_part_1 = pd.read_excel('azure-export-2024-10-07-15-00-13-part-1.xlsx')
df_part_2 = pd.read_excel('azure-export-2024-10-07-15-01-27-part-2.xlsx')

df = pd.concat([df_part_1, df_part_2])

In [3]:
df.shape

(20788, 37)

In [4]:
df.columns

Index(['Name', 'Package Picture', 'URL',
       'P3, Cash Discount, Installment/month', 'Installment Limit',
       'Price to Reserve for This Package', 'Shop Name', 'Category',
       'Category Tags', 'Preview 1-10', 'Selling Point', 'Meta Keywords',
       'Brand', 'Min/Max Age',
       'Locations, Time Open/Close, How to Transport, Parking, Google Maps',
       'Meta Description', 'Price Details', 'Package Details',
       'Important Info', 'Payment Booking Info', 'General Info',
       'Early Signs for Diagnosis', 'How to Diagnose', 'HDCare Summary',
       'Common Question', 'Know This Disease', 'Courses of Action',
       'Signals to Proceed Surgery', 'Get to Know This Surgery', 'Comparisons',
       'Getting Ready', 'Recovery', 'Side Effects', 'Review 4-5 Stars',
       'Brand Option in Thai Name', 'Brand Ranking (Position)', 'FAQ'],
      dtype='object')

In [5]:
df['P3, Cash Discount, Installment/month'][0]

0    P3: 969 THB, Cash: 969.0 THB, Installment/mont...
0    P3: 570 THB, Cash: 570.0 THB, Installment/mont...
Name: P3, Cash Discount, Installment/month, dtype: object

In [6]:
extracted_cols = df['P3, Cash Discount, Installment/month'].str.extract(r'P3: (\d*) THB, Cash: (\.|\d)* THB, Installment/month: (.*)')
extracted_cols.columns = ['P3', 'Cash Discount', 'Installment/month']

# Converting the columns to numeric types
extracted_cols['P3'] = pd.to_numeric(extracted_cols['P3'])
extracted_cols['Cash Discount'] = pd.to_numeric(extracted_cols['Cash Discount'])

# Adding the new column "price after cash discount"
extracted_cols['Price After Cash Discount'] = extracted_cols['P3'] - extracted_cols['Cash Discount']

extracted_cols

         P3  Cash Discount Installment/month  Price After Cash Discount
0       969              0               N/A                        969
1      4455              0               N/A                       4455
2       989              0               N/A                        989
3      4455              0               N/A                       4455
4      4365              0               N/A                       4365
...     ...            ...               ...                        ...
19073   970              0               N/A                        970
19074   980              0               N/A                        980
19075  1950              0               N/A                       1950
19076  4445              0               N/A                       4445
19077  2390              0               N/A                       2390

[20788 rows x 4 columns]

In [7]:
df.drop(columns=['Category Tags', 'Preview 1-10', 'Selling Point', 'Meta Keywords', 'Meta Description', 'Payment Booking Info', 'Brand Option in Thai Name', 'Brand Ranking (Position)'], inplace=True)

In [8]:
for i, col in enumerate(extracted_cols.columns):
    df.insert(df.columns.get_loc('P3, Cash Discount, Installment/month') + 1 + i, col, extracted_cols[col])

df.drop(columns=['P3, Cash Discount, Installment/month'], inplace=True)

df['Installment/month'] = np.where(df['Installment/month'] == 'N/A', '', df['Installment/month'])

df.columns

Index(['Name', 'Package Picture', 'URL', 'P3', 'Cash Discount',
       'Installment/month', 'Price After Cash Discount', 'Installment Limit',
       'Price to Reserve for This Package', 'Shop Name', 'Category', 'Brand',
       'Min/Max Age',
       'Locations, Time Open/Close, How to Transport, Parking, Google Maps',
       'Price Details', 'Package Details', 'Important Info', 'General Info',
       'Early Signs for Diagnosis', 'How to Diagnose', 'HDCare Summary',
       'Common Question', 'Know This Disease', 'Courses of Action',
       'Signals to Proceed Surgery', 'Get to Know This Surgery', 'Comparisons',
       'Getting Ready', 'Recovery', 'Side Effects', 'Review 4-5 Stars', 'FAQ'],
      dtype='object')

In [9]:
# Assuming your DataFrame is named df
nan_counts = df.isna().sum()

# Display the counts
print(nan_counts)

Name                                                                      0
Package Picture                                                         730
URL                                                                       0
P3                                                                        0
Cash Discount                                                             0
Installment/month                                                         0
Price After Cash Discount                                                 0
Installment Limit                                                     20661
Price to Reserve for This Package                                     17487
Shop Name                                                                 0
Category                                                                  0
Brand                                                                     0
Min/Max Age                                                           19965
Locations, Time Open/Close, How to Transport, Parking, Google Maps      750
Price Details                                                           968
Package Details                                                        2814
Important Info                                                        15252
General Info                                                          12442
Early Signs for Diagnosis                                             20581
How to Diagnose                                                       20739
HDCare Summary                                                        20680
Common Question                                                       20627
Know This Disease                                                     20633
Courses of Action                                                     20659
Signals to Proceed Surgery                                            20650
Get to Know This Surgery                                              20580
Comparisons                                                           20634
Getting Ready                                                         20593
Recovery                                                              20584
Side Effects                                                          20595
Review 4-5 Stars                                                      20738
FAQ                                                                   19063
dtype: int64

In [10]:
import re

def clean_location_info(df, column_name):

  patterns = [
      r"When to open:.+\n",
      r"Parking lot:.+\n",
      r'How to transport:.+\n',
      r'Google Maps link: ',
  ]
  combined_pattern = "|".join(patterns)

  # Handle non-string values before applying regex
  def clean_value(x):
    # Convert non-strings to strings (if possible)
    if not pd.api.types.is_string_dtype(x):
      x = str(x)  # Try converting to string
    # Handle missing values (e.g., NaN)
    if pd.isna(x):
      x = ""  # Replace with an empty string for missing values
    return re.sub(combined_pattern, '', x)

  df[column_name] = df[column_name].apply(clean_value)
  return df

# Example usage
cleaned_df = clean_location_info(df.copy(), "Locations, Time Open/Close, How to Transport, Parking, Google Maps")

In [11]:
# Define the new column names in the order they should appear
new_column_names = [
    'package_name',
    'package_picture',
    'url',
    'price',
    'cash_discount',
    'installment_month',
    'price_after_cash_discount',
    'installment_limit',
    'price_to_reserve_for_this_package',
    'shop_name',
    'category',
    'brand',
    'min_max_age',
    'locations',
    'price_details',
    'package_details',
    'important_info',
    'general_info',
    'early_signs_for_diagnosis',
    'how_to_diagnose',
    'hdcare_summary',
    'common_question',
    'know_this_disease',
    'courses_of_action',
    'signals_to_proceed_surgery',
    'get_to_know_this_surgery',
    'comparisons',
    'getting_ready',
    'recovery',
    'side_effects',
    'review_4_5_stars',
    'faq',
]


# Generate the column mapping
current_columns = cleaned_df.columns.tolist()
if len(current_columns) != len(new_column_names):
    raise ValueError("The number of columns in the CSV does not match the number of new column names")

column_mapping = {current: new for current, new in zip(current_columns, new_column_names)}

# Rename columns
cleaned_df.rename(columns=column_mapping, inplace=True)

cleaned_df.columns

Index(['package_name', 'package_picture', 'url', 'price', 'cash_discount',
       'installment_month', 'price_after_cash_discount', 'installment_limit',
       'price_to_reserve_for_this_package', 'shop_name', 'category', 'brand',
       'min_max_age', 'locations', 'price_details', 'package_details',
       'important_info', 'general_info', 'early_signs_for_diagnosis',
       'how_to_diagnose', 'hdcare_summary', 'common_question',
       'know_this_disease', 'courses_of_action', 'signals_to_proceed_surgery',
       'get_to_know_this_surgery', 'comparisons', 'getting_ready', 'recovery',
       'side_effects', 'review_4_5_stars', 'faq'],
      dtype='object')

In [12]:
numerical_cols = cleaned_df.select_dtypes(include=['number']).columns
cleaned_df[numerical_cols] = cleaned_df[numerical_cols].fillna(np.nan)

# Replace price 0 with Nan
cleaned_df['price'] = cleaned_df['price'].replace(0, np.nan)

# For categorical columns, fill missing values with an empty string
categorical_cols = cleaned_df.select_dtypes(include=['object']).columns
cleaned_df[categorical_cols] = cleaned_df[categorical_cols].fillna("")

In [13]:
counts = cleaned_df.count()

# Print column names and their respective counts
for column, count in counts.items():
    print(f"{column}: {count}")

package_name: 20788
package_picture: 20788
url: 20788
price: 19957
cash_discount: 20788
installment_month: 20788
price_after_cash_discount: 20788
installment_limit: 20788
price_to_reserve_for_this_package: 3301
shop_name: 20788
category: 20788
brand: 20788
min_max_age: 20788
locations: 20788
price_details: 20788
package_details: 20788
important_info: 20788
general_info: 20788
early_signs_for_diagnosis: 20788
how_to_diagnose: 20788
hdcare_summary: 20788
common_question: 20788
know_this_disease: 20788
courses_of_action: 20788
signals_to_proceed_surgery: 20788
get_to_know_this_surgery: 20788
comparisons: 20788
getting_ready: 20788
recovery: 20788
side_effects: 20788
review_4_5_stars: 20788
faq: 20788

In [14]:
def to_csv(df, csv_path, start_row, end_row):
    df.iloc[start_row:end_row].to_csv(csv_path, index=False,)
    print(f"{csv_path} created successfully!")
    return csv_path

In [15]:
to_csv(cleaned_df, 'packages.csv', 0, None)

packages.csv created successfully!

'packages.csv'